ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}


.display-list-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}


.display-list-item {
  height: 50px;
  width: 100%;

}

.display-item-done {

}

.display-item-divider {
  border-top: 5px solid DeepSkyBlue;
}
