ul {
  list-style: none;
  margin:0;
  padding: 0;
}





.display-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .7%;
  justify-content: space-between;
  margin-bottom: 2%;

}

.display-item-checkbox {
  flex: 1;
}


.display-item-text {
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
  flex: 12;
  padding-left: 9%;
}


.display-item-done {
  flex: 1;
}



.display-item-divider {
  border-top: 1px solid DeepSkyBlue;
  width: 80%;
  align-self: center;
  }

.display-item-editing {
  font-family: 'Oxygen', sans-serif;
  background: #e6f2ff;
  font-style: italic;
  color: gray;
  font-size: 19px;
  padding-left: 2%;
  margin: 2%;

}

i {
    font-size: 150%;
    color: black;
    margin: 0;
    padding: 0;
}
