.app-container {
  width: 100%;
  height: 100%;
  display: block;

}

/*

header container and container content styles
         FIRST BIG DIV
    located: top section of App
    contains: title-date-container
              ,progress-container
*/

.header-container {
  width: 100%;
  height: 175px;
  display: flex;

}

.header-background {
  width: 100%;
  height: inherit;
  background-size: cover;
  position: absolute;
  z-index: -1;

}
/*

title container and container content styles
    located: top left of App
    contains: app title
              ,current date

*/

.title-date-container {
  width: 60%;
  height: 100%;
  opacity: 0.5;

}

/*

progress container and container content styles
    located: top right of App
    contains: total todo count
              ,pending todo count
              ,completed todo's Percentage
*/

.progress-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1.0;


}

.total-pending-container {
  width: 100%;
  margin: auto;
  display: flex;
  height: 125px;

}

.total-todos {
  width: 50%;

}

.pending-todos {
  width: 50%;

}

.completed-percentage-container {
  width: 100%;

}

/*

content container and container content styles
          SECOND BIG DIV
    located: top right of App
    contains: total todo count
              ,pending todo count
              ,completed todo's Percentage
*/


.content-container {
  height: 75%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;

}


.form-input {
  width: 89%;
  height: 55px;
  background: #1E90FF;
  margin: 0;
  padding: 0;
}

.form-button {
  width: 51px;
  height: 51px;
  background-size: cover;
  border-radius: 19px;
  background-color: darkblue;
  align-self: center;

}


.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.list-title {
  width: 100%;
}

.completed-clear-container {
  display: flex;
  justify-content: space-between;
}

.completed-todos {
}

.clear-completed-todos {
  align-self: center;
}
