.app-container {
  width: 100%;
  height: 100%;
  display: block;

}

/*

header container and container content styles
         FIRST BIG DIV
    located: top section of App
    contains: title-date-container
              ,progress-container
*/

.header-container {
  width: 100%;
  height: 42.5%;
  display: flex;

}

.header-background {
  width: 100%;
  height: inherit;
  background-size: cover;
  position: absolute;
  z-index: -1;


}


/*

title container and container content styles
    located: top left of App
    contains: app title
              ,current date

*/

.title-date-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.title-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-right: 20%;
  padding-top: 10%;
}

.title-styles {
  font-size: 38px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 700;

}


.date-container {
  font-size: 15px;
  color: white;
  font-family: 'Crimson Text', serif;
  padding-left: 8%;
}

/*

progress container and container content styles
    located: top right of App
    contains: total todo count
              ,pending todo count
              ,completed todo's Percentage
*/

.progress-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;


}

.total-pending-container {
  width: 100%;
  margin: auto;
  display: flex;

}

.total-todos {
  width: 50%;
  padding-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.pending-todos {
  width: 50%;
  padding-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.progress-number {
  align-self: center;
  color: white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;

}

.progress-label {
  align-self: flex-end;
  color: white;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.completed-percentage-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10%;

}

.completed-percentage {
  color: white;
  font-size: 15px;
  font-family: 'Crimson Text', serif;
  font-weight: 500;

}
/*

content container and container content styles
          SECOND BIG DIV
    located: top right of App
    contains: total todo count
              ,pending todo count
              ,completed todo's Percentage
*/


.content-container {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.form-container {
  display: flex;
  justify-content: space-between;
}


.form-input {
  width: 93.5%;
  height: inherit;
  background: #e6f2ff;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  margin: auto;
  text-align: center;


}

.form-button {
  width: 5.1%;
  height: 5.1%;
  margin: auto;
  padding: 0;
  border: none;
  background: none;
}


.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}

.list-title {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 21px;
  font-weight: 900;

}

.list-title-divider {
  border-top: 2px dotted blue;
}

.completed-clear-container {
  display: flex;
  justify-content: space-between;

}

.completed-todos {
}

.clear-completed-todos {
  align-self: center;
}
